*$
*.BAK
*.Z
*.a
*.aux
*.bak
*.bbl
*.blg
*.brf
*.dvi
*.elc
*.exe
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.out
*.rej
*.so
*.toc
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
Aura-MLS_DataQuality_v4-2x-rev1-0.pdf
CVS/
TAGS
\#*
_$*
core
diffs*
figures/old-avks
patch-tex-master-files.sh
tags
v4-2_data_quality_document-v3-1.pdf
v5-x-report*.pdf
v5-x-report.synctex.gz
singlesection.pdf
singlesection.synctex.gz