*$
*.BAK
*.Z
*.a
*.aux
*.bak
*.bbl
*.blg
*.brf
*.dvi
*.elc
*.exe
*.fdb_latexmk
*.fls
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.out
*.rej
*.so
*.toc
*.bak*
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
Aura-MLS_DataQuality_v4-2x-rev1-0.pdf
CVS/
TAGS
\#*
_$*
core
diffs*
figures/old-avks
patch-tex-master-files.sh
tags
v6-x-report.pdf
v6-x-report.synctex.gz
singlesection.pdf
singlesection.synctex.gz
v6-x-report.atfi